<div class="container">
    <div class="hero_home mx-5 position-relative">
        <h1>Bonjour !
            <br>Moi c'est <span>Thibault</span></h1>
        <h5><span>Web Developer</span> / <span>Front-end Developer</span></h5>
        <p>Passionné par la création graphique ou conception de site web en tout genre</p>
        <div class="nextBtn position-absolute start-50 bottom-0 translate-middle mb-5">
            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14.8284 12.0259L16.2426 13.4402L12 17.6828L7.75733 13.4402L9.17155 12.0259L11 13.8544V6.31724H13V13.8544L14.8284 12.0259Z"
                    fill="grey">
                    <animate attributeName="opacity" dur="2s" keyTimes="0;0.1;0.5;0.6;1" values="0;1;1;0;0"
                        repeatCount="indefinite" />
                </path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M1 5C1 2.79086 2.79086 1 5 1H19C21.2091 1 23 2.79086 23 5V19C23 21.2091 21.2091 23 19 23H5C2.79086 23 1 21.2091 1 19V5ZM5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3Z"
                    fill="#f6f6f610">
            </svg>
        </div>
    </div>
</div>
</div>