<div class="container">
    <div class="hero_home mx-5 position-relative">
        <h1>Bonjour !
            <br>Moi c'est Thibault</h1>
        <h5>Web Developer / Front-end Developer</h5>
        <p>Passionné par la création graphique ou conception de site web en tout genre</p>
        <div class="nextBtn position-absolute start-50 bottom-0 mb-5">
            ⬇️
        </div>
    </div>
</div>
</div>