<div class="svgBorder">
    <svg width="100%">
        <path d="M 0 0 C 51 66 1136 43 1920 100 L 0 100"></path>
    </svg>
</div>
<div id="about_container" class="bg-inverse">
    <div class="bg-inverse text-inverse">
        <div class="col2">

            <div id="description" class="col mx-5 my-2 mt-5" style="padding-left: 100px;">
                <h2>Description de moi même</h2>
                <div class="">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero hic cum?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, iste?</p>
                    <p>Quam et, perferendis illum assumenda expedita officia velit numquam dolore.</p>
                    <p>Accusamus nemo tempore unde nihil ipsam ratione perspiciatis beatae reprehenderit.</p>
                    <p>Voluptatum eum cumque aperiam totam doloribus, possimus sunt iusto ut?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, expedita unde qui esse quia
                        sequi.
                        Possimus esse pariatur cupiditate repellat.</p>
                    <p>Facere consectetur provident magni odio id optio labore laborum doloremque aliquam culpa, neque
                        ipsam
                        laboriosam iusto consequatur ducimus, pariatur obcaecati.</p>
                    <p>Magnam nihil ut soluta amet, quas enim accusantium repellat! Ab optio nesciunt pariatur. Aperiam
                        doloremque dolore reprehenderit deleniti eaque nam!</p>
                    <p>Dignissimos, eveniet sed. In eos et consequatur fugiat sed incidunt magni sunt. Eligendi id
                        distinctio odit veniam. Officiis, at similique?</p>

                </div>
            </div>
            <div id="profile" class="col d-flex flex-column align-items-center text-center">
                <div class="avatar mt-5">
                    <img src="img/testAvatar.jpg" alt="" style="width: 100%; max-width: 350px;">
                </div>
                <div class="my-2">
                    <p>text auto avec mots clé</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="svgBorder svg-inverse">
    <svg width="100%">
        <path d="M 0 0 C 51 66 1136 43 1920 100 L 0 100"></path>
    </svg>
</div>