<section id="home_project" class="">
    <h2>Compétences</h2>
    <div class="py-3 container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">node.js</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">vue.js</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <p class="card-text">Principalement utilisé pour la création d'animations et/ou d'actions sur certains évenements</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adobe XD</h5>
                        <p class="card-text">Outil de pré-production que j'utilise que très rarement étant habitué à Figma.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adobe Photoshop</h5>
                        <p class="card-text">Je l'utilise depuis très longtemps, tant pour du photo-montage que pour de la création graphique, comme des logos, bannières ou de simples dessins</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adobe Illustrator</h5>
                        <p class="card-text">Utilisé principalement dans la création d'icones / formes et logos vectoriels</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Figma</h5>
                        <p class="card-text">Super outil de pré-production que j'utilise de plus en plus, pratique tant pour son côté collaboratif que par son utilisation ergonomique.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project_card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Git</h5>
                        <p class="card-text">Mon outil principal me permettant de faciliter le travail à plusieurs sur un même projet, ou de tout simplement versionner son projet perso.</p>
                    </div>
                </div>
            </div>
        </div>