<div style="overflow: hidden; height: 100px;">
    <svg width="1200px">
        <path fill="white" d="M 0 0 C 51 66 1136 43 1200 100 L 0 100"></path>
    </svg>
</div>
<div id="about_container" class="">
    <div class="about_content container" type="white">
        <div class="text-center pt-2">
            <h2>À Propos</h2>
        </div>
        <div class="col2">
            <div id="profile" class="col d-flex flex-column align-items-center text-center">
                <div class="avatar mt-5">
                    <img src="img/testAvatar.jpg" alt="" style="width: 100%; max-width: 350px;">
                </div>
                <div class="my-2">
                    <p>text auto avec mots clé</p>
                </div>
            </div>
            <div id="description" class="col mt-5">
                <h2>Description de moi même</h2>
            </div>
        </div>
    </div>
</div>