<div class="svgBorder">
    <svg width="100%">
        <path d="M 0 0 C 51 66 1136 43 1920 100 L 0 100"></path>
    </svg>
</div>
<section id="about_container" class="bg-inverse pb-5">
    <div class="bg-inverse text-inverse">
        <div class="about_content col2">

            <div id="description_container" class="col mt-5">
                <h2 class="text-center">À PROPOS</h2>
                <div class="pt-3">
                    <h5>Passioné</h5>
                    <div class="description_content">
                        <p>J'adore le fait de créer sois même quelque chose de du début à sa fin, laisser libre cours à
                            sa
                            créativité et son imagination, de voir
                            l'avancée de son ou d'un projet en temps réel, de pouvoir se confronter sois même à des
                            erreurs
                            et de devoir les résoudres pour que soit fonctionnel et optimal.
                        </p>
                    </div>
                    <h5>Créatif</h5>
                    <div class="description_content">
                        <p>À l'école pendant mon temps libre j'aimais passer du temps à dessinner dans mon cahier de
                            brouillon, des personnages, des formes 3D et leurs perspectives et bien d'autres. <br></p>
                        <p>Aujourd'hui ça n'est plus sur mon cahier de brouillon que je dessine, mais sur tablette
                            graphique
                            via Adobe Photoshop ou Adobe Illustrator dans la création d'images ou logos en tout genre.
                        </p>
                    </div>
                </div>
            </div>
            <div id="profile" class="col d-flex flex-column align-items-center text-center">
                <div class="avatar mt-5">
                    <img src="img/Thibault_.jpg" alt="" style="width: 100%; max-width: 350px;">
                </div>
                <div class="my-2">
                    <p>text auto avec mots clé</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="svgBorder svg-inverse">
    <svg width="100%">
        <path d="M 0 0 C 51 66 1136 43 1920 100 L 0 100"></path>
    </svg>
</div>