<div id="news_container" class="container">
    <div class="col2">
        <div id="profile" class="bg-white">

        </div>
        <div id="description" class="bg-white">

        </div>
    </div>
    <div class="col3">
        <div class="bg-white">text</div>
        <div class="bg-white">text</div>
        <div class="bg-white">text</div>
    </div>
</div>