<%- include('../common/head.ejs') %>
<main id="content" class="hero_style area">

    <div class="p-2 container">

        <h1>Error 404 - Page Introuvable</h1>
        
        </div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</main>
<%- include('../common/footer.ejs') %>