<%- include('../common/head.ejs') %>
<main id="home_content" class="hero_style area">
    <div class="theme-switch_container">
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    <%- include('sections/home_hero.ejs') %>
    <%- include('sections/home_about.ejs') %>
    <section id="home_project" class="">
        <h2>Compétences</h2>
        <div class="py-3 container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="project_card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="project_card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="project_card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="project_card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="project_card bg col-md-12 col-12 mx-2"></div>
            <div class="project_card bg col-md-12 col-12 mx-2"></div>
            <div class="project_card bg col-md-12 col-12 mx-2"></div>
            <div class="project_card bg col-md-12 col-12 mx-2"></div>
            <div class="project_card bg col-md-12 col-12 mx-2"></div>
            <div class="project_card bg col-md-12 col-12 mx-2"></div> -->
        </div>
    </section>

    <!-- animated background -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</main>
<%- include('../common/footer.ejs') %>